* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
}

html {
  scroll-behavior: smooth;
}

body.modal-open {
  overflow: hidden;
  height: 100%;
}

    .icon-container {
      position: relative;
    }

    .icon-container img {
      width: 100%;
      display: block;
    }

    .dot {
      position: absolute;
      top: 3.5px;
      right: 0.5px;
      height: 6px;
      width: 6px;
      background-color: #f4b400;
      border-radius: 50%;
      border: 2px solid #f4b400;
    }

header{
    display : flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 130px;
    color : white;
    background-color: #1AC073;
}

.logo{
font-family: 'Squada One', sans-serif;
  font-weight: 400;
  font-size: 32px;
  line-height: 20px;
  letter-spacing: -0.012em;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 40px;
  justify-content: center;
  align-items: center;
  padding-left: 7%;
}

.nav-links a{
  text-decoration: none;
  color: white;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 20px;
  letter-spacing: -0.012em; 
}

.icons {
 display : flex;
 align-items: center;
 justify-content: center;
 gap: 25px;
 padding-right: 2%;
}

.icons img{
  font-size: 10px;
  height: auto;
  cursor: pointer;
}

.hero{
   background-color: #1AC073;
 display : flex;
 flex-direction: row;
 justify-content: center;
 padding: 170px 130px 10px 130px;
 gap: 3%;
}

.hero-display{
  color:white;
  flex : 1;
  gap: 500px;
}

.hero-display h1{
  font-family: 'Roboto', sans-serif; 
  font-weight: 400;
 font-size: 70px;
 letter-spacing: 0%;
  margin-bottom: 15px;
}


.hero-display p{
  font-family: 'Roboto', sans-serif; 
  font-size : 18px;
  font-weight: 400px;
  line-height: 20px;
  letter-spacing: -0.012em; 
  width: 450px;
  margin-bottom: 20px;
}

.search-bar {
  display: flex;
  width: 390px;
  height: 56px;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  margin: 40px 5px;
  
}

.search-bar input {
  flex: 1;
  padding: 15px 20px;
  font-size: 16px;
  border: none;
  outline: none;
  color: #333;
}

.search-bar input::placeholder {
  color: #888;
}

.search-bar button {
  background-color: #f1b700; 
  color: white;
  padding: 0 25px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.search-bar button:hover {
  background-color: #d99f00;
}

.hero-img{
  flex:1;
  padding-left: 9%;
}

.kitchen{
  padding: 122px;
  background: #F7F8FA;
}

.kitchen p{
  font-size: 40px;
  font-weight:800;
   line-height: 24px;
}

 .cards {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 20px;
    }

   .pizza-card {
  width: 280px;
  border-radius: 8px;
  overflow: hidden;
  position: relative;
  background-color: white;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1); 
  padding-bottom: 5px;
  margin-bottom: 20px;
}


.pizza-image {
  width: 100%;
  height: auto;
  display: block;
}

.discount-badge {
  position: absolute;
   top: 0.5px;
  left: 0.5px;
  z-index: 10;
}

.card-content {
  padding: 10px;
}

.card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 16px;
  margin-bottom: 8px;
}

.pizza-title {
  font-weight: 500;
}

.pizza-price {
  font-weight: bold;
}

.card-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.badge-container {
  display: flex;
  gap: 10px;
  font-family: 'Segoe UI', sans-serif;
}

.badge {
  display: inline-flex;
  align-items: center;
  gap: 6px;
  padding: 4px 8px;
  font-size: 14px;
  font-weight: 500;
  border-radius: 8px;         
  background-color: #F7F8FA;
  color: #1c1c1e;
}

.badge.rating {
  border: 1px solid #f0f0f0;
}

.badge.time {
  background-color: #f9fafb;
  box-shadow:
    inset 4px 0 #d1d1d1,
    inset -4px 0 #d1d1d1;
}

 .quantity {
      display: inline-flex;
      align-items: center;
      border-radius: 5px;
      overflow: hidden;
      border: 1px solid #f4b400;
    }

    .qty-btn, .initial-plus {
      background-color: #f4b400;
      color: white;
      border: none;
        font-size: 25px;
        font-weight:bolder;
         width: 25px;
         height: 25px;
      cursor: pointer;
    }

 .qty-btn-minus {
  background-color: #f4b400;
  color: white;
  border: none;
  font-weight: bolder;
  width: 25px;
  height: 25px;
  cursor: pointer;
  font-size: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

    .initial-plus{
           border-radius: 5px;
    }

    .qty-display {
      width: 40px;
      text-align: center;
      border: none;
      font-size: 18px;
      font-weight: bold;
    }

    #initial-plus {
      background-color: #f4b400;
      color: white;
      border: none;
      width: 30px;
      height: 30px;
      font-size: 20px;
      cursor: pointer;
      border-radius: 5px;
    }

    #full-quantity {
      display: none;
    }

.badge.flat {
  display: inline-flex;
  align-items: center;
  gap: 4px;                         
  padding: 4px 8px;
  background-color: #f3f4f6;        
  border: 1px solid #d1d1d1;        
  border-radius: 8px;               
  font-size: 13px;
  font-weight: 500;
  color: #1c1c1e;
}


.carousel-section {
  background: #F7F8FA;
  text-align: center;
  padding: 30px;
}

.carousel-section h2{
  font-weight: 800;
   font-family: 'Roboto', sans-serif;
font-size: 40px;
line-height: 20px;
letter-spacing: -1.2%;
text-align: center;
margin-bottom: 50px;
}

.carousel-wrapper {
  background: #F7F8FA;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 1250px;
  margin: auto;
}

.carousel-window {
  width: 1000px; 
  overflow:hidden;
  margin: 0 auto;
}

.carousel-track {
  display: flex;
  gap: 80px;
  transition: transform 0.3s ease;
}

.card {
  flex: 0 0 270px;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: white;
    position: relative;
  border: 1px solid #e0e0e0;
  border-radius: 12px;
  overflow: hidden;
  cursor: pointer;
}


.card:hover, .pizza-card:hover {
  background-color: #ffffff;
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2);
}


.card.selected , .pizza-card.selected{
  background-color: #ffffff;
  box-shadow: 0 16px 32px rgba(0, 0, 0, 0.3);
  border: 1px solid #999;
  filter: brightness(1.02) contrast(1.1);
}

@keyframes fadeIn {
  from { opacity: 0; transform: scale(0.95); }
  to { opacity: 1; transform: scale(1); }
}


.modal {
  display: none;
  position: fixed;
  z-index: 999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.6); 
  justify-content: center;
  align-items: center;
}

.modal-content {
  background-color: #fff;
  padding: 20px 30px;
  border-radius: 12px;
  width: 90%;
  max-width: 500px;
  position: relative;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.close-btn {
  position: absolute;
  top: 12px;
  right: 16px;
  font-size: 20px;
  cursor: pointer;
  font-weight: bold;
  color: #888;
}

.close-btn:hover {
  color: #333;
}

.modal-body {
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
}

.modal-body .dish-image {
  width: 160px;
  height: 160px;
  border-radius: 10px;
  object-fit: cover;
}


.dish-info {
  flex-grow: 1;
}


.dish-info h4 {
  margin: 0 0 10px;
  font-size: 1.2rem;
  color: #333;
}

.dish-info p {
  margin: 4px 0;
  font-size: 0.95rem;
  color: #555;
}

.modal-buttons {
  margin-top: 10px;
  display: flex;
  gap: 10px;
}

.modal-buttons .submit-btn,
.modal-buttons .cancel-btn {
  flex: 1;
  padding: 10px;
  border: none;
  border-radius: 6px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.modal-buttons .submit-btn {
  background-color: #28a745;
  color: #fff;
}
.modal-buttons .submit-btn:hover {
  background-color: #218838;
}

.modal-buttons .cancel-btn {
  background-color: #dc3545;
  color: #fff;
}
.modal-buttons .cancel-btn:hover {
  background-color: #c82333;
}

.card img {
  transition: filter 0.3s ease;
}

.card:hover img {
  filter: brightness(1.05);
}

.carousel-btn {
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  cursor: pointer;
  border: 2px solid #1ac073;
  transition: all 0.3s ease;
}

.carousel-btn.prev, .carousel-btn.next {
  background-color: transparent;
  color: #1ac073; 
}

.carousel-btn.next:hover, .carousel-btn.prev:hover {
  background-color: #1ac073;
  color: white;
}

.play-icon1{
   color: #2ed573;
    font-size: 26px;
    cursor: pointer;
}

.play-icon1:hover{
   color: white;
    font-size: 26px;
    cursor: pointer;
}

.request-btn {
  margin-top: 80px;
  margin-bottom: 60px;
  background-color: #1ac073;
  border: none;
  color: white;
  padding: 20px 40px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 20px;
  font-weight: 700;
  line-height: 20px;
  font-family: 'Roboto', sans-serif;
}


article{
  text-align: center;
  padding: 60px 20px 40px;
  height: 860px;
    background: linear-gradient(to bottom, white 50%, #d3f2d7 50%);
}

article .review{
 margin-bottom: 40px;
}

article .review h2{
  font-size: 40px;
  font-family: 'Montserrat', sans-serif;
  color:  #252B42;
  letter-spacing: 0.2px;
  line-height: 57px;
}

article .review .highlight{
  display: block;
  margin-bottom: 10px;
  color: #252B42;
}

.review p{
  font-size: 14px;
  font-weight: 500;
  font-family: 'Montserrat', sans-serif;
  line-height: 1.6;
  text-align: center;
  color: grey;
}

.video-container {
  position: relative;
  width: 877px;
  height: 442px;
  border-radius: 5px;
  border-width: 1px;
  margin: 0 auto;
  overflow: hidden;
  box-shadow: 0 8px 16px rgba(0,0,0,0.1);
}

.video-thumbnail {
  width: 100%;
  display: block;
}

.play-button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #2ed573;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.contact-section {
  display: flex;
  justify-content:space-between;
  align-items: center;
  padding: 25px 150px;
  background-color: #f8f9fb;
  flex-wrap: wrap;
  min-height: 603px;
}

.contact-form {
  flex: 1;
  max-width: 520px;
}

.contact-form h2 {
  font-size: 24px;
  margin-bottom: 8px;
}

.contact-form p {
  margin-bottom: 24px;
  color: #666;
}

.input-row {
  display: flex;
  gap: 16px;
  margin-bottom: 16px;
}

.input-row input,
textarea {
  width: 100%;
  padding: 14px;
  border: none;
  border-radius: 10px;
  background: #fff;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.05);
  font-size: 16px;
  resize: none;
}

textarea {
  margin-bottom: 16px;
}

.contact-form button {
  background-color: #1ac073;
  color: white;
  border: none;
  width: 210px;
  height: 58px;
  padding: 12px 28px;
  font-size: 16px;
  border-radius: 10px;
  cursor: pointer;
}

.contact-form button:hover {
  background-color: #16a862;
}

.contact-image {
  flex: 1;
  display: flex;
  justify-content: center;
  max-width: 480px;
}

.contact-image img {
  max-width: 100%;
}

.site-footer {
  background-color: #1ac073;
  color: white;
  padding: 30px 20px 10px;
  text-align: center;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  max-width: 1440px;
  margin: 0 auto;
  height: 137px;
   padding: 10px 130px;
}


.footer-logo {
  font-size: 22px;
  font-weight: bold;
}

.footer-logo span {
  font-weight: normal;
}

.footer-nav {
  display: flex;
  gap: 25px;
}

.footer-nav a {
  color: white;
  text-decoration: none;
  font-size: 15px;
}

.footer-social {
  display: flex;
  gap: 10px;
}

.site-footer hr {
  width:1100px;
  margin-top: -15px;
  margin-left: 10px;
}

@media (max-width: 1200px) {
header {
 padding: 20px 60px;
  flex-direction: column;
  gap: 20px;
  text-align: center;
  }

  .hero {
    flex-direction: column;
    padding: 100px 60px 10px;
  }

  .hero-img {
    padding-left: 0;
   margin-top: 40px;
  }

  .kitchen {
    padding: 60px;
  }

  .cards {
    grid-template-columns: repeat(2, 1fr);
  }

  .carousel-wrapper {
    flex-direction: column;
    gap: 30px;
  }

  .carousel-window {
    width: 100%;
  }

  .video-container {
    width: 100%;
    height: auto;
  }

  .contact-section {
    flex-direction: column;
    padding: 40px 60px;
    gap: 40px;
  }

  .footer-container {
    flex-direction: column;
    gap: 20px;
    padding: 20px 60px;
  }

  .site-footer hr {
    width: 90%;
    margin: 20px auto;
  }
}

@media (max-width: 768px) {
  .nav-links {
    flex-direction: column;
    gap: 15px;
    padding-left: 0;
  }

  .icons {
    padding-right: 0;
    justify-content: space-around;
   flex-wrap: wrap;
    gap: 15px;
  }

  .hero-display h1 {
    font-size: 42px;
    text-align: center;
  }

  .hero-display p {
    width: 100%;
    text-align: center;
  }

  .search-bar {
    width: 100%;
    flex-direction: column;
    height: auto;
  }

  .search-bar input {
    width: 100%;
    padding: 10px;
  }

  .search-bar button {
    width: 100%;
    padding: 15px;
    font-size: 18px;
  }

  .cards {
    grid-template-columns: 1fr;
  }

  .pizza-card {
    width: 100%;
  }

  article {
    height: auto;
    padding: 40px 20px;
  }

  .contact-image {
    display: none;
  }

  .footer-nav {
    flex-direction: column;
    gap: 10px;
  }

  .footer-social {
    justify-content: center;
  }

  .carousel-track {
    gap: 20px;
  }

  .card {
    flex: 0 0 80%;
  }
}

@media (max-width: 480px) {
  .hero-display h1 {
    font-size: 32px;
  }

  .hero-display p {
    font-size: 16px;
  }

  .carousel-btn {
    width: 40px;
    height: 40px;
  }

  .carousel-section h2 {
    font-size: 30px;
  }

  .contact-form h2 {
    font-size: 20px;
  }

  .request-btn {
    font-size: 16px;
    padding: 15px 30px;
  }

  .modal-content {
    padding: 15px 20px;
  }

  .modal-body {
    flex-direction: column;
    align-items: flex-start;
  }

  .dish-info h4 {
    font-size: 1rem;
  }
}




